*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  padding: 56px 0 50px;

  @media only screen and (min-width: 48rem) {
    padding-bottom: 0;
  }

  @media only screen and (min-width: 64rem) {
    padding-top: 80px;
  }
}

.clear:before, .clear:after {
  content: ' ';
  display: table;
}

.clear:after {
 clear: both;
}


.section {
  background: #fff;
  padding: 22px 22px 0;
  padding: 1.375rem 1.375rem 0;

  @media only screen and (min-width: 64rem) {
    padding: 90px 20px;
    padding: 5.625rem 1.25rem;
  }

}

.section--container {

}
