header.site-header
  div.site-header__container.clear
    h2.site-header__title
      a.site-header__root-link
        img(class='site-header__logo' alt='MUGH Logo' src='/assets/img/mugh-logo.png')
    nav.site-header__main-nav
      ul
        li
          a(class='nav-link' href='#agenda')
            | AGENDA
        li
          a(class='nav-link' href='#speakers')
            | SPEAKERS
        li
          a(class='nav-link' href='#registration')
            | REGISTRATION
        li
          a(class='nav-link' href='#venue')
            | VENUE
div.hero
  div.hero__bg-container
    div.hero__bg-container-overlay
      h1 MUGH January 2017 UG Meet
      h3 DATE: 20-JAN-2017
